// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-category {
  display:flex;
  padding-right:50px;
}

.content {
  display:flex;
}

.show-content {
  padding: 20px 0 0 30px;
}