// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top
h2 {
  margin-left: 50px;
}

.top-main {
  margin-left: 100px;
}
.top-main p {
  padding-bottom: 30px;
}

//index
table {
  display: table;
}

.content-category {
  display:flex;
}
.content-category p {
  width: 200px;
  margin-left: 60px;
}

.content-title {
  width: 150px;
  margin-left: 50px;
}

.content-body {
  width: 300px;
  margin-left: 50px;
}
.content-do {
  margin-left: 50px;
}
.content {
  display: flex;
}
.create-form {
  margin-left: 50px;
  display: block;
}

.submit {
  display: block;
  margin-top: 10px;
}

//show, edit
.show-content {
  padding: 20px 0 0 30px;
}
.show-flash {
  color: #3cb371;
  padding: 20px 0 0 30px;
}
.edit-main {
  margin-left: 50px;
  margin-bottom: 30px;
}
.botan {
  display: flex;
}
.botan h4 {
  margin:0 5px;
}

.alert {
  background-color: #dcdcdc;
  width: 500px;
  border: 2px solid #ff0000;
  margin-left: 20px;
  margin-bottom: 30px;
}

.alert h4 {
  background-color: #ff0000;
  width: 500px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.alert ul {
  margin-left: 100px;
}

.field_with_errors  {
  padding: 2px;
  background-color: red;
  display: table;
}

.field {
  margin-bottom: 10px;
}
.field label {
  display: block;
}
